@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant hover (&:hover);


/* font-family: "Ubuntu", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

[x-cloak] {
    display: none;
}

hr{
    width: 90rem;
    margin: 1rem;
}


/* 
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fdfdfd inset !important;
    border: 1px solid #dc2626;
    -webkit-text-fill-color: #000 !important;
}
*/